Package: com.kkengine.inject
Name: KKEngine
Version: 15.0.0
Architecture: iphoneos-arm
Description: KKEngine v15 - 添加诊断日志，统一使用KLOG
Maintainer: KKEngine Team
Author: KKEngine Team
Depends: firmware (>= 16.0)
