Package: com.kakahookengine.inject
Name: KakaHookEngine
Version: 1.0.0
Architecture: iphoneos-arm
Description: KakaSDK Hook Engine - 主动调用 KakaSDK 内部函数
Maintainer: KakaHookEngine Team
Author: KakaHookEngine Team
Depends: firmware (>= 16.0)
